button[type="nbutton"]{
  float: left;
  font-size: 30px;
  color: black;
  outline: none;
  border: none;
  background:Aquamarine ;
  width: 40%;
  padding: 18px 0;

  cursor: pointer;
}
button[type="nbutton"]:hover {
  background: #ff2775;

    transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -o-transition: 1s all;
}




button[type="button"]{
  float: right;
  font-size: 30px;
  color: Black;
  outline: none;
  border: none;
  background: Ivory ;
  width: 30%;
  padding: 18px 0;

  cursor: pointer;
}
button[type="button"]:hover {
  background: #ff2775;

    transition: 1s all;
  -webkit-transition: 1s all;
  -moz-transition: 1s all;
  -o-transition: 1s all;
}
body{

  font-family: 'Open Sans', sans-serif;
  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  min-height:1050px;
}

.button {
        width: 100%;
        padding: 15px;
        margin: auto;
        position: relative;

}

.button span {

  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
        font: italic 20px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
}


.topnav {
    overflow: hidden;
    background-color: #333;

}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
body{


  background-size:cover;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;

    margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
